.header {
  text-align: center;
}

.footer {
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  background-color: red;
}

.footer p {
  text-align: center;
  font-size: 20px;
}

.footer #contact {
  text-align: end;
  padding-right: 20px;
}

.nav {
  background-color: red;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-right: 40px; /* borders/around only*/
}
.nav p {
  /* selects specific element in class */
  color: black;
  font-size: 20px;
}

.nav img {
  width: 15%;
  justify-self: flex-start;
  padding-left: 20px;
}

.header-links {
  display: flex;
  gap: 40px; /* stuff inside container*/
  align-items: center;
}

.banner {
  background-image: url("../assets/goggins-log.avif");

  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.banner h1 {
  color: whitesmoke;
  font-size: 100px;
}
html {
  /* scorlling feature*/
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 100px;
  place-items: center;
  column-gap: 50px;
  row-gap: 50px;
  margin-right: 50px;
  border: 1px solid brown;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 60px;
  overflow-wrap: anywhere;
}

.legs {
  display: flex; /* makes children of elm go side by side - allows u to use justifycontent, align-items */
  font-size: 60px;
  grid-column: 2;
  align-self: center;
  background-color: burlywood;
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: right;
}

.button {
  background-color: rgb(165, 97, 97);
}

/* reusable exercise page: */

.exercise-page {
  background-color: pink;
}

.exercise-page h1 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  padding-top: 15px;
}

.linkButton {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.exercise-page h1 {
  font-size: 50px;
}

.top-grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding-top: 30px;
  gap: 10px;
}

.muscle-img {
  padding-left: 150px;
  padding-top: 20px;
  padding-right: 50px;
  background-color: rgb(252, 133, 133);
}

.muscle-img img {
  width: 300px;
  height: 300px;
}

.muscle-description {
  border: auto;
  border-radius: 50px;
  border-width: 10px;

  background: linear-gradient(to bottom, #ffffff, #ffabf5);
  margin-right: 20px;
}

.muscle-description h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.muscle-description p {
  padding-right: 20px;
  padding-left: 200px;
  width: 80%;
  line-height: 1.5em;
  align-content: center;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}

.why-exercise {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid;
  width: 50%;
  padding-bottom: 50px;

  padding-right: 50px;
  padding-left: 50px;
}

.why-exercise h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.why-exercise p {
  font-size: 20px;
}

#exercises {
  font-size: 40px;
  text-decoration: underline 2px;
}

.exercises-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
