.header {
  text-align: center;
}

.nav {
  background-color: red;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-right: 40px; /* borders/around only*/
}
.nav p {
  /* selects specific element in class */
  color: black;
  font-size: 20px;
}

.nav img {
  width: 15%;
  justify-self: flex-start;
  padding-left: 20px;
}

.header-links {
  display: flex;
  gap: 40px; /* stuff inside container*/
  align-items: center;
}

.banner {
  background-image: url("../assets/goggins-log.avif");

  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.banner h1 {
  color: whitesmoke;
  font-size: 100px;
}
html {
  /* scorlling feature*/
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 100px;
  place-items: center;
  column-gap: 50px;
  row-gap: 50px;
  margin-right: 50px;
  border: 1px solid brown;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 60px;
  overflow-wrap: anywhere;
}

.chest {
  font-size: 60px;
  grid-column: 2;
  grid-row: 3;
}

.shoulders {
  display: flex;
  font-size: 60px;
  align-self: center;
  background-color: burlywood;
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: right;
}

.button {
  background-color: rgb(165, 97, 97);
}
